git+https://github.com/OpenG2P/rest-framework@17.0#subdirectory=fastapi
git+https://github.com/OpenG2P/rest-framework@17.0#subdirectory=graphql_base
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=g2p_registry_base
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=g2p_registry_individual
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=g2p_registry_group
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=g2p_registry_membership
git+https://github.com/OpenG2P/openg2p-importers@17.0-develop#subdirectory=g2p_odk_importer
git+https://github.com/OpenG2P/openg2p-service-provider-portal@17.0-develop#subdirectory=g2p_service_provider_portal_base
git+https://github.com/OpenG2P/storage@17.0#subdirectory=storage_backend
git+https://github.com/OpenG2P/storage@17.0#subdirectory=storage_backend_s3
git+https://github.com/OpenG2P/storage@17.0#subdirectory=storage_file
git+https://github.com/OpenG2P/openg2p-documents@17.0-develop#subdirectory=g2p_documents
git+https://https://github.com/muk-it/odoo-modules@17.0#subdirectory=muk_web_appsbar
git+https://https://github.com/muk-it/odoo-modules@17.0#subdirectory=muk_web_colors
git+https://https://github.com/muk-it/odoo-modules@17.0#subdirectory=muk_web_chatter
git+https://https://github.com/muk-it/odoo-modules@17.0#subdirectory=muk_web_dialog
git+https://https://github.com/muk-it/odoo-modules@17.0#subdirectory=muk_web_theme
