git+https://github.com/OpenG2P/rest-framework@17.0#subdirectory=setup/fastapi
git+https://github.com/OpenG2P/rest-framework@17.0#subdirectory=setup/graphql_base
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=setup/g2p_registry_base
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=setup/g2p_registry_individual
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=setup/g2p_registry_group
git+https://github.com/OpenG2P/openg2p-registry@17.0-develop#subdirectory=setup/g2p_registry_membership
