.mk_apps_sidebar_panel {
    @include mk-disable-scrollbar();
    background-color: $mk-appbar-background;
    width: var(--mk-sidebar-width, 0);
    overflow-y: auto;
    .mk_apps_sidebar {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
        .mk_apps_sidebar_menu {
            padding: 0;
            > li > a {
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                overflow: hidden;
                padding: 8px 11px;
                text-decoration: none;
                color: $mk-appbar-color;
                text-overflow: ellipsis;
                .mk_apps_sidebar_icon {
                    width: 22px;
                    height: 22px;
                    margin-right: 5px;
                }
            }
            > li.active > a {
                background: $mk-appbar-active;
            }
            > li:hover > a {
                background: $mk-appbar-active;
            }
        }
    }
}
