.spinner-border {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    color: $primary; // Use Odoo's primary theme color
}

#my_individuals,
#my_groups,
#gender_pie_chart_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem; // Ensures consistent spacing even before data loads
}
